#sat-title, #words-learned-title {
  color: #FFF;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#num-words-learned {
  color: #FFF;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.inline-block-child {
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    /* padding: 16px; */
    padding: 1px 12px;
    font-size: 34px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links 里面 the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('bg_domo_2.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topstuff {
  color:white;
}
.accordion .card {
  background-color: rgba(245, 245, 245, .5);
}
.accordion .card-header {
  opacity: 1 !important;
}
.accordion .card-body {
  opacity: 1 !important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body {
  text-align: center;
}

#headingOne {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

#accordion-h2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

btn {
  font-weight: bold;
  flex-grow: 1;
}

.translation-text-1, .translation-text-2 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 20px;  
}

.translation-text-1 {
  font-weight: bold;
}

.translation-text-2 {
  font-size: 28px;   
}

table {
  margin: 0px auto;
  float: none;
}

td {
  padding: 5px;
}

.container {
  padding: 0px;
}

.arrow-button {
  font-size: 28px;
  font-weight: bold;
  color: #3498DB;
}

.category, .category:hover {
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  /* text-decoration: underline; */
}

.category .category:hover {
  text-decoration: underline;
}

