body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('bg_domo_2.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topstuff {
  color:white;
}
.accordion .card {
  background-color: rgba(245, 245, 245, .5);
}
.accordion .card-header {
  opacity: 1 !important;
}
.accordion .card-body {
  opacity: 1 !important;
}
#def_window{
  background-color:black;
  visibility:hidden;
}
.translation{
  text-decoration: underline;
  text-decoration-style: dotted;
}