.def_window{
  background-color: #ffd1dc;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 2px solid black;
}
.def_window h2{
  font-family: Arial;
  color: black;
  display: inline;
}
.def_window b{
  font-family: Arial;
  color: black;
}
.def_window i{
  font-family: Arial;
  color: black;
}
.def_window span{
  font-family: Arial;
  color: black;
}
.translation{
  text-decoration: underline;
  text-decoration-style: dotted;
  white-space:nowrap;
}
.orig_text{
  visibility: hidden;
}

